/* General Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* Main Container */
.App {
  background: white;
  margin-top: 2rem;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Headings */
h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  color: #555;
  font-size: 18px;
  margin-bottom: 15px;
}

/* Form Styles */
form {
  width: 60%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background: #007bff;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 80%;
  align-self: center;
}

input[type="submit"]:hover {
  background: #0056b3;
}

/* Table Styles */
.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background: #007bff;
  color: white;
}

.table tr:nth-child(even) {
  background: #f9f9f9;
}

/* Responsive Design */
@media (max-width: 480px) {
  .App {
    width: 90%;
  }

  input[type="text"], input[type="submit"] {
    font-size: 14px;
    padding: 8px;
  }

  h1 {
    font-size: 20px;
  }
}
